body {
  margin: 0;
  padding: 0;
  background-color: rgb(248, 248, 248);
  font-family: TT Lakes;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: #1b1c21;
}

@font-face {
  font-family: TT Lakes;
  src: url(./fonts/TTLakes-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: TT Lakes;
  src: url(./fonts/TTLakes-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: TT Lakes;
  src: url(./fonts/TTLakes-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.fixed-block {
  position: fixed;
  left: 0;
  top: 0;
  width: 272px;
  height: 100vh;
  padding: 0 24px;
  overflow-y: auto;
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.2);
}
.header__inner {
  display: flex;
  align-items:center;
  padding-top: 23px;
  gap: 16px;
  margin-bottom: 45px;
}
.logo {
  margin-right: auto;
}

.round-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  transition: transform 0.3s;
}
.round-icon--menu {
  background: url(./images/menu.svg);
}
.round-icon--search {
  background: url(./images/search.svg);
}
.menu {
  margin-bottom: 268px;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu__link {
  text-decoration: none;
  color: #1b1c21;
  font-weight: 500;
}
.menu__link--current {
  color: #7e7e82;
}
.menu::before {
  content: '';
  width: 4px;
  height: 32px;
  background-color: #41f6d7;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 120px;
}

.footer__actions {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.round-icon--phone {
  background: url(./images/phone.svg);
}
.round-icon--chat {
  background: url(./images/chat.svg);
}
.round-icon--profile {
  background: url(./images/profile.svg);
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}
.footer__contact-mail {
  font-weight: 500;
}
.footer__contact-phone {
  font-weight: 700;
}
.footer__lang {
  padding-bottom: 32px;
  display: flex;
  gap: 7px;
}
.footer__lang-item {
  font-weight: 500;
}
.footer__lang-item--current {
  color: #7e7e82;
}

.round-icon:hover {
  transform: scale(1.2);
}
.round-icon--menu {
  transform: rotate(0deg) scale(1);
  transition: transform 0.5s ease-out;
}
.round-icon--menu:hover {
  transform: rotate(180deg) scale(1.2);
}
